body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.left {
  width: 20%;
  float: left;
  min-height: 990px;
  background-color: #0ef;
  color: blue;
}

.left .nav-link {
  color: black;
  font-weight: 600;
}
.left .nav-link:hover{
  color: gray;
}

.right {
  width: 80%;
  float: left;
}